In [2]:
import libkdv
import pandas as pd
import numpy as np
from keplergl import KeplerGl

In [ ]:
# Data Processing

# Download Dataset here: https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95
# NewYork = pd.read_csv('./New_York_Crashes_raw.csv')
# center_NewYork = [40.730610,-73.935242]
# attr_name_NewYork = ['LATITUDE','LONGITUDE','CRASH DATE']

# df = libkdv.utils.gps_data_processing(NewYork,center_NewYork,attr_name_NewYork,tolerance = 0.3)
# df.to_csv('../datasets/NewYork.csv',index=False)

NameError: name 'pd' is not defined

In [3]:
df = pd.read_csv('../datasets/NewYork.csv')
if 't' in df.columns:
    df = df.drop(columns=['t'])
    print("drop column t")
kdv_NewYork = libkdv.kdv(df, KDV_type='KDV',
                 bandwidth=1000, row_pixels=800, col_pixels=600)

drop column t

In [4]:
kdv_NewYork.compute() # exam how compute function is performed. 
# val = kde value

              lon        lat       val
0      -74.235190  40.501762  0.003008
1      -74.235190  40.502449  0.003306
2      -74.235190  40.503135  0.003643
3      -74.235190  40.503821  0.004061
4      -74.235190  40.504508  0.004487
...           ...        ...       ...
272354 -73.663726  40.737866  0.000011
272355 -73.663726  40.738552  0.000012
272356 -73.663726  40.739238  0.000013
272357 -73.663726  40.739925  0.000012
272358 -73.663726  40.740611  0.000011

[272359 rows x 3 columns]

In [5]:
print(kdv_NewYork.result)

              lon        lat       val
0      -74.235190  40.501762  0.003008
1      -74.235190  40.502449  0.003306
2      -74.235190  40.503135  0.003643
3      -74.235190  40.503821  0.004061
4      -74.235190  40.504508  0.004487
...           ...        ...       ...
272354 -73.663726  40.737866  0.000011
272355 -73.663726  40.738552  0.000012
272356 -73.663726  40.739238  0.000013
272357 -73.663726  40.739925  0.000012
272358 -73.663726  40.740611  0.000011

[272359 rows x 3 columns]

In [7]:
print(type(kdv_NewYork.result))

<class 'pandas.core.frame.DataFrame'>

In [6]:
map_kdv = KeplerGl(height=600, data={"data_1": kdv_NewYork.result})
map_kdv.save_to_html(file_name='./map_kdv.html')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter
Map saved to ./map_kdv.html!